<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.futureinspirator.acbaradise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.dev.cromer.jason.coverme.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashimage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashimage"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acbaradise">
        <activity
            android:theme="@style/Theme.Design.Light"
        android:name=".searchview"
            android:exported="false"
            android:label="Search"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".premium"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".map"
            android:exported="false" />

        <activity
            android:name=".current_location"
            android:exported="false" />
        <activity
            android:name=".acb_blogs"
            android:exported="false" />
        <activity
            android:name=".checkout"
            android:exported="false" />
        <activity
            android:name=".summary"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAva44k8-fvgy5T9G5fHE29TPLRjme_K18" />

        <activity
            android:name=".installuninstallcombopage"
            android:exported="false" />
        <activity
            android:name=".faultspage"
            android:exported="false" />
        <activity
            android:name=".sparespage"
            android:exported="false" />
        <activity
            android:name=".amccassetteacschemes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".amcwindowacschemes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".amcsplitacschemes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".amcpage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".waterwashpage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".generalservicepage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sendotp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_wic5QWXwG8LIPV" />
    </application>

</manifest>